# Bloquear acceso directo al listado de directorios
Options -Indexes

# Habilitar el módulo de reescritura de URLs
RewriteEngine On

# Excluir redirección para las rutas con parámetros de Mercado Pago
RewriteCond %{QUERY_STRING} (^|&)status=(approved|failure|pending)($|&)
RewriteCond %{QUERY_STRING} (^|&)external_reference=.*($|&)
RewriteCond %{QUERY_STRING} (^|&)payment_type=.*($|&)
RewriteRule ^ - [L]

# Si intenta acceder a ADMINPHP o CLIENTEPHP sin token JWT, redirige a index.php
RewriteCond %{REQUEST_URI} ^/PHP/(ADMINPHP|CLIENTEPHP)/ [NC]
RewriteCond %{HTTP_COOKIE} !jwt=.+ [NC]
RewriteRule ^ /index.php [R=302,L]
